.idea
stats/**
checkpoints/**
sampleImageOutputs/**
savedResults/**
modules/__pycache__
L0GradientMin/__pycache__
*.save

!stats/.gitkeep
!checkpoints/.gitkeep
!sampleImageOutputs/.gitkeep
!savedResults/.gitkeep